@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  /* header */
  --height-header-big: 80px;
  --height-header-small: 60px;
  /* footer */
  --height-footer-big: 120px;
  --height-footer-small: 80px;
  /* size */
  --padding-big: 30px;
  --padding-normal: 20px;
  --padding-small: 10px;
  --margin-big: 20px;
  --margin-normal: 10px;
  --margin-small: 5px;
  /* font-size */
  --font-micro: 10px;
  --font-small: 12px;
  --font-basic: 16px;
  --font-big: 20px;
  --font-large: 24px;
  /* font-weight */
  --font-weight-thin: 200;
  --font-weight-basic: 600;
  --font-weight-thick: 900;
  /* color */
  --color-white: white;
  --color-black: black;
  --color-skyblue: #5ae0ff;
  --color-lightpurple: #7878ff;
  --color-medowgreen: #78e150;
  --color-emerald: #1eaaaa;
  --color-hotpink: #ff3cbb;
  --color-rose: #cd1039;
  --color-lightpinkg: #ffb2af;
  --color-rosepink: #ff91dc;
  --color-yellow: #ffd232;
  --color-salmon: #ffa98f;
  --color-brown: #8b4513;
  --color-gray: #8c8c8c;
  --color-darkgray: #323232;
  --color-bg: #242222;
  --color-header-footer: rgb(29, 27, 27);
}
/* -------------------------공통---------------------------- */
/* basic-setting */
.body {
  display: flex;
  flex-direction: column;
  /* 헤더와 푸터의 총 px만큼 백분율에서 빼기 */
  min-height: calc(100vh - 180px);
  margin: 0;
  background-color: var(--color-bg);
  align-items: center;
  justify-content: center;
  /* padding-bottom: var(--height-footer-big); */
}
/* --------------header-------------- */
.ContainerHeader {
  border-bottom: 1px solid wheat;
  height: var(--height-header-small);
  background-color: var(--color-header-footer);
  color: wheat;
  display: flex;
  align-items: center;
}
img.Logo {
  position: relative;
  top: 0px;
  width: 150px;
  left: 100px;
  cursor: pointer;
}
span.LogInHeader {
  position: absolute;
  right: 100px;
  cursor: pointer;
}
span.LogInMyPage {
  position: absolute;
  right: 200px;
  cursor: pointer;
}
/* -----------footer---------------- */
.ContainerFooter {
  border-top: 1px solid wheat;
  height: var(--height-footer-big);
  margin-top: auto;
  flex-shrink: 0;
  background-color: var(--color-header-footer);
  display: flex;
  justify-content: center;
}
img.Smile {
  position: relative;
  width: 80px;
  margin-right: 80px;
}
.ContentFooter {
  color: wheat;
}
.ContentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.L1 {
  font-size: var(--font-small);
}
.L2 {
  font-size: var(--font-small);
}
.L3 {
  font-weight: var(--font-weight-basic);
  margin-top: 5px;
}
/* ------------------------------------------------------------- */
