.ContainerBoss {
  /* border: 1px wheat solid; */
  width: 1000px;
  height: 500px;
  display: flex;
  /* flex-direction: row; */
}
.boxBoss {
  width: 170px;
  height: 563px;
  border: none;
  z-index: 999;
  position: relative;
  cursor: pointer;
  background-color: black;
  opacity: 0.3;
}
.boxBoss:hover {
  opacity: 0;
}
.bossChoose {
  position: absolute;
}
