.OOTDContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1433px;
  height: 600px;
  /* border: 1px solid wheat; */
  gap: 30px;
  grid-template-areas:
    'area1 area2 area3 area4'
    'area5 area6 area7 area8';
}
.OOTDContainer img {
  width: 335px;
  cursor: pointer;
}
.area1 {
  grid-area: area1;
  /* border: 1px solid wheat; */
}
.area2 {
  grid-area: area2;
}
.area3 {
  grid-area: area3;
}
.area4 {
  grid-area: area4;
}
.area5 {
  grid-area: area5;
}
.area6 {
  grid-area: area6;
}
.area7 {
  grid-area: area7;
}
.area8 {
  grid-area: area8;
}
.areaContent {
  border: 1px wheat solid;
  width: 335px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.material-icons.red {
  color: rgb(223, 68, 68);
}
.material-icons {
  cursor: pointer;
}
