:root {
  /* header */
  --height-header-big: 80px;
  --height-header-small: 60px;
  /* footer */
  --height-footer-big: 120px;
  --height-footer-small: 80px;
  /* size */
  --padding-big: 30px;
  --padding-normal: 20px;
  --padding-small: 10px;
  --margin-big: 20px;
  --margin-normal: 10px;
  --margin-small: 5px;
  /* font-size */
  --font-micro: 10px;
  --font-small: 12px;
  --font-basic: 16px;
  --font-big: 20px;
  --font-large: 24px;
  /* font-weight */
  --font-weight-thin: 200;
  --font-weight-basic: 600;
  --font-weight-thick: 900;
  /* color */
  --color-white: white;
  --color-black: black;
  --color-skyblue: #5ae0ff;
  --color-lightpurple: #7878ff;
  --color-medowgreen: #78e150;
  --color-emerald: #1eaaaa;
  --color-hotpink: #ff3cbb;
  --color-rose: #cd1039;
  --color-lightpinkg: #ffb2af;
  --color-rosepink: #ff91dc;
  --color-yellow: #ffd232;
  --color-salmon: #ffa98f;
  --color-brown: #8b4513;
  --color-gray: #8c8c8c;
  --color-darkgray: #323232;
  --color-bg: #242222;
}

.ContainerSignUp {
  border: 1px wheat solid;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitSignUp {
  width: 60px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  top: 70px;
  border-radius: 5px;
  outline: none;
  box-shadow: 2px 2px 2px;
}
.InputBox {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  top: 50px;
  font-size: var(--font-big);
  border: none;
  border-radius: 5px;
  outline: none;
}
.InputBox::placeholder {
  padding-left: 5px;
}
