.bgmContainer {
  display: flex;
  height: 100vh;
}
.musicPlayer {
  height: 100vh;
  position: relative;
  right: 250px;
}

body {
  color: wheat;
}
h2 {
  position: relative;
  left: 15px;
  margin-top: 20px;
}
ul {
  list-style: none;
  cursor: pointer;
  padding-top: 10px;
}
ul li {
  transition: transform 0.3s ease;
  padding-top: 5px;
}
ul li:hover {
  transform: scale(1.2);
}
.NowPlaying {
  font-weight: 500;
  font-size: 20px;
  color: rgb(199, 93, 93);
}
.MusicTrackBox {
  /* border: 1px solid white; */
  width: 400px;
}
.Volume {
  position: relative;
  bottom: 4px;
}
button {
  background-color: burlywood;
}

.BoxImg {
  position: relative;
  top: 300px;
  right: 450px;
  border: 1px white solid;
  width: 702px;
  height: 402px;
}
.BoxImg img {
  width: 700px;
  height: 400px;
}

.musicTool {
  position: relative;
  top: 50px;
}
