.bgmContainer {
  display: flex;
  height: 100vh;
}
.musicPlayer {
  height: 100vh;
  position: relative;
  right: 650px;
}

body {
  color: wheat;
}
h2 {
  position: relative;
  left: 15px;
  margin-top: 20px;
}
ul {
  list-style: none;
  cursor: pointer;
  padding-top: 10px;
}
ul li {
  transition: transform 0.3s ease;
  padding-top: 0px;
}
ul li:hover {
  transform: scale(1.2);
}
.NowPlaying {
  font-weight: 500;
  font-size: 20px;
  color: rgb(199, 93, 93);
}
.MusicTrackBox {
  /* border: 1px solid white; */
  width: 400px;
}
.Volume {
  position: relative;
  bottom: 2px;
  left: 3px;
}
button {
  background-color: burlywood;
}

.BoxImg {
  position: relative;
  top: 200px;
  left: 450px;
  border: 1px white solid;
  width: 702px;
  height: 402px;
}
.BoxImg img {
  width: 700px;
  height: 400px;
}

.musicTool {
  position: absolute;
  top: 650px;
  width: 500px;
  left: 600px;
}
.progressBar {
  position: relative;
  top: 20px;
  right: 130px;
  border-radius: 10px;
  background-color: rgb(70, 67, 64);
  cursor: pointer;
}
.progress {
  border-radius: 10px;
  background-color: rgb(182, 181, 154);
  cursor: pointer;
}
.Volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.timeDisplay {
  position: relative;
  width: 200px;
  left: 390px;
  bottom: 1px;
}

.musicTool > button {
  margin-right: 5px;
}

.material-icons {
  position: relative;
  top: 2px;
}
