.ContainerLinkBoss {
  border: 1px wheat solid;
  border-radius: 10px;
  width: 1200px;
  height: 600px;
  position: relative;
  display: flex;
}
.ContainerLinkBoss2 {
  border: 1px lightgreen solid;
  border-radius: 10px;
  width: 1200px;
  height: 600px;
  position: relative;
  display: flex;
}
.ContainerLinkBoss3 {
  border: 1px hotpink solid;
  border-radius: 10px;
  width: 1200px;
  height: 600px;
  position: relative;
  display: flex;
}
.ContainerLinkBoss4 {
  border: 1px lightcoral solid;
  border-radius: 10px;
  width: 1200px;
  height: 600px;
  position: relative;
  display: flex;
}
.ContainerLinkBoss5 {
  border: 1px rgb(99, 34, 99) solid;
  border-radius: 10px;
  width: 1200px;
  height: 600px;
  position: relative;
  display: flex;
}
.MusicBossLink1 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px wheat solid;
  box-shadow: 0 0 10px lightgoldenrodyellow, 0 0 10px lightgoldenrodyellow inset;
}
.MusicBossLink2 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px lightgreen solid;
  box-shadow: 0 0 10px lightgreen, 0 0 10px lightgreen inset;
}
.MusicBossLink3 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px hotpink solid;
  box-shadow: 0 0 10px hotpink, 0 0 10px hotpink inset;
}
.MusicBossLink4 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px lightcoral solid;
  box-shadow: 0 0 10px lightcoral, 0 0 10px lightcoral inset;
}
.MusicBossLink5 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px rgb(99, 34, 99) solid;
  box-shadow: 0 0 10px rgb(99, 34, 99), 0 0 10px rgb(99, 34, 99) inset;
}
.MusicBossLink6 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px wheat solid;
  box-shadow: 0 0 10px lightgoldenrodyellow, 0 0 10px lightgoldenrodyellow inset;
}
.nameBoss {
  position: absolute;
  top: 30px;
  left: 820px;
}
.AboutBoss {
  width: 500px;
  height: 230px;
  /* border: 1px white solid; */
  position: relative;
  top: 100px;
  left: 70px;
  text-align: justify;
}
.Strategy {
  position: relative;
  top: 350px;
  right: 288px;
  width: 100px;
  height: 30px;
}
.LinkStrategy {
  position: relative;
  text-decoration: none;
  color: wheat;
  top: 351px;
  right: 275px;
  height: 30px;
}
.Reward {
  position: relative;
  top: 350px;
  width: 90px;
  right: 230px;
  height: 30px;
}
.LinkReward {
  position: relative;
  top: 350px;
  width: 50px;
  right: 210px;
  height: 30px;
  color: wheat;
}

#carouselExampleCaptions.carousel {
  position: absolute;
  width: 300px;
  bottom: 40px;
  right: 155px;
}
