.ContainerLinkBoss {
  border: 1px wheat solid;
  border-radius: 10px;
  width: 1200px;
  height: 600px;
  position: relative;
  display: flex;
}
.ContainerLinkBoss1 {
  border: 2px rgb(40, 49, 172) solid;
  border-radius: 10px;
  width: 1202px;
  height: 602px;
  position: relative;
  display: flex;
  animation: fadeIn 5s forwards;
}
.ContainerLinkBoss2 {
  border: 2px lightgreen solid;
  border-radius: 10px;
  width: 1202px;
  height: 602px;
  position: relative;
  display: flex;
  animation: fadeIn 5s forwards;
}
.ContainerLinkBoss3 {
  border: 2px rgb(172, 57, 57) solid;
  border-radius: 10px;
  width: 1202px;
  height: 602px;
  position: relative;
  display: flex;
  animation: fadeIn 9s forwards;
}
.ContainerLinkBoss4 {
  border: 2px lightcoral solid;
  border-radius: 10px;
  width: 1202px;
  height: 602px;
  position: relative;
  display: flex;
  animation: fadeIn 3s forwards;
}

.ContainerLinkBoss5 {
  border: 2px rgb(86, 58, 177) solid;
  border-radius: 10px;
  width: 1202px;
  height: 602px;
  position: relative;
  display: flex;
  animation: fadeIn 10s forwards;
}
.ContainerLinkBoss6 {
  border: 2px rgb(43, 121, 62) solid;
  border-radius: 10px;
  width: 1202px;
  height: 602px;
  position: relative;
  display: flex;
  animation: fadeIn 6s forwards;
}
.bossGif_01 {
  position: absolute;
  width: 1198px;
  height: 598px;
  border-radius: 10px;
  animation: fadeOut 5s forwards;
}
.bossGif_02 {
  position: absolute;
  width: 1198px;
  height: 598px;
  border-radius: 10px;
  animation: fadeOut 5s forwards;
}
.bossGif_03 {
  position: absolute;
  width: 1198px;
  height: 598px;
  border-radius: 10px;
  animation: fadeOut 8s forwards;
}
.bossGif_04 {
  position: absolute;
  width: 1198px;
  height: 598px;
  border-radius: 10px;
  animation: fadeOut 3s forwards;
}
.bossGif_05 {
  position: absolute;
  width: 1198px;
  height: 598px;
  border-radius: 10px;
  animation: fadeOut 10s forwards;
}
.bossGif_06 {
  position: absolute;
  width: 1198px;
  height: 598px;
  border-radius: 10px;
  animation: fadeOut 6s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.MusicBossLink1 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px rgb(40, 49, 172) solid;
  box-shadow: 0 0 10px rgb(40, 49, 172), 0 0 10px rgb(40, 49, 172) inset;
}
.MusicBossLink2 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px lightgreen solid;
  box-shadow: 0 0 10px lightgreen, 0 0 10px lightgreen inset;
}
.MusicBossLink3 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px rgb(172, 57, 57) solid;
  box-shadow: 0 0 10px rgb(172, 57, 57), 0 0 10px rgb(172, 57, 57) inset;
}
.MusicBossLink4 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px lightcoral solid;
  box-shadow: 0 0 10px lightcoral, 0 0 10px lightcoral inset;
}
.MusicBossLink5 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px rgb(86, 58, 177) solid;
  box-shadow: 0 0 10px rgb(86, 58, 177), 0 0 10px rgb(86, 58, 177) inset;
}
.MusicBossLink6 {
  position: relative;
  top: 100px;
  left: 20px;
  height: 367px;
  width: 646px;
  border: 3px rgb(43, 121, 62) solid;
  box-shadow: 0 0 10px rgb(43, 121, 62), 0 0 10px rgb(43, 121, 62) inset;
}
.nameBoss {
  position: absolute;
  top: 30px;
  left: 720px;
  width: 350px;
  text-align: center;
}
.AboutBoss {
  width: 500px;
  height: 230px;
  /* border: 1px white solid; */
  position: relative;
  top: 100px;
  left: 70px;
  text-align: justify;
}
.Strategy {
  position: relative;
  top: 350px;
  right: 288px;
  width: 100px;
  height: 30px;
}
.LinkStrategy {
  position: relative;
  text-decoration: none;
  color: wheat;
  top: 351px;
  right: 275px;
  height: 30px;
}
.Reward {
  position: relative;
  top: 350px;
  width: 90px;
  right: 230px;
  height: 30px;
}
.LinkReward {
  position: relative;
  top: 350px;
  width: 50px;
  right: 210px;
  height: 30px;
  color: wheat;
}

#carouselExampleCaptions.carousel {
  position: absolute;
  width: 300px;
  bottom: 40px;
  right: 155px;
}

.bossMain {
  position: absolute;
  top: 1000px;
}
@keyframes fadeInName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bossName {
  position: absolute;
  width: 1200px;
  height: 100px;
  text-align: center;
  top: -100px;
  font-size: 50px;
}
.bossName1 {
  color: rgb(40, 49, 172);
  animation: fadeInName 6s ease-out forwards;
  opacity: 0;
}
.bossName2 {
  color: lightgreen;
  animation: fadeInName 7s ease-out forwards;
  opacity: 0;
}
.bossName3 {
  color: rgb(172, 57, 57);
  animation: fadeInName 10s ease-out forwards;
  opacity: 0;
}
.bossName4 {
  color: lightcoral;
  animation: fadeInName 5s ease-out forwards;
  opacity: 0;
}
.bossName5 {
  color: rgb(86, 58, 177);
  animation: fadeInName 12s ease-out forwards;
  opacity: 0;
}
.bossName6 {
  color: rgb(43, 121, 62);
  animation: fadeInName 7s ease-out forwards;
  opacity: 0;
}
