.mainContainer {
  width: 1200px;
  height: 700px;
  border: 2px solid wheat;
  background-color: #15181d;
}
.searchBox {
  display: flex;
  position: relative;
  bottom: 130px;
  justify-content: center;
}
.CNavContainer {
  display: flex;
  flex-direction: row;
}
.CNav {
  position: relative;
  border: 1px solid wheat;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Conatainer01 {
  display: flex;
}
.imgMainC {
  position: relative;
  left: 100px;
}
.Container01_Sub2 {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 200px;
  font-size: 22px;
  top: 30px;
}
.Container01_Sub2 > div {
  padding-top: 30px;
}
